# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# working files
src/vim/.vim/viminfo
src/vim/.vim/swaps
src/vim/.vim/undo
src/vim/.vim/backups

# Vundle
src/vim/.vim/bundle

# git credential file
.gitconfig.local

# ignore dotfiles setup stuff
setup/*.log

# Sublime Text 3
# Package Control: https://packagecontrol.io/docs/syncing
src/subl/User/Package\ Control.last-run
src/subl/User/Package\ Control.ca-list
src/subl/User/Package\ Control.ca-bundle
src/subl/User/Package\ Control.system-ca-bundle
src/subl/User/Package\ Control.cache/
src/subl/User/Package\ Control.ca-certs/
src/subl/User/Package\ Control.merged-ca-bundle
src/subl/User/Package\ Control.user-ca-bundle

# Atom
# http://jbranchaud.github.io/splitting-atoms/adding-atom-to-dotfiles.html
atom/packages
atom/storage

# Weechat
src/weechat/.weechat/certs
src/weechat/.weechat/logs
src/weechat/.weechat/script
src/weechat/.weechat/sec.conf
src/weechat/.weechat/weechat.log
src/weechat/.weechat/urls.log

