# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# working files
vim/.vim/viminfo
vim/.vim/swaps/*
vim/.vim/undo

# git credential file
.gitconfig.local

# ignore dotfiles setup stuff
setup/*.log

# Sublime Text 3
# Package Control: https://packagecontrol.io/docs/syncing
subl/User/Package\ Control.last-run
subl/User/Package\ Control.ca-list
subl/User/Package\ Control.ca-bundle
subl/User/Package\ Control.system-ca-bundle
subl/User/Package\ Control.cache/
subl/User/Package\ Control.ca-certs/
