"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    themes: [
      "base-16-ocean-dark-ui-theme"
      "base16-ocean-dark-syntax-theme"
    ]
  editor:
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "975141e8-eb51-54ef-196f-5f103fdf85f9"
  "line-ending-selector":
    defaultLineEnding: "LF"
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
