"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "activate-power-mode"
    ]
    themes: [
      "base-16-ocean-dark-ui-theme"
      "base16-ocean-dark-syntax-theme"
    ]
  editor:
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "975141e8-eb51-54ef-196f-5f103fdf85f9"
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
  welcome:
    showOnStartup: false
